@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 3rem;
    font-weight: 700;
}
#banner-title{
    color: white;
    font-size: 4rem;
}
.top-banner{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:#2D25A0;
    
}
.flexible{
    padding: 5% 7%;
}
.live-button{
    color: white;
    font-size: 20px;
    background-color: #E02C6D;
    text-decoration: none;
    padding: 8px 20px;
}
.banner img{
    width: 557px;
    height: 438px;
}

/* Players Section */

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    padding: 10px 180px;
    margin-top: 60px;
}
h3{
    font-size: 1.7em;
    margin-top: 10px;
    margin-bottom: 5px;
}
.player img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.player{
    padding: 15px 15px;
    background-color: white;
    filter:drop-shadow(0px 0px 2px gray)
}

/* Highlights */

.highlights{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 180px;
    margin-top: 155px;
    margin-bottom: 100px;
}
.highlights-details{
    padding-right:70px;
    margin-bottom: 50px;
}
.highlights img{
    width: 567px;
    height: 427px;
}

/* Footer */
footer{
    text-align: center;
    margin: 80px auto 40px;
}
footer img{
    width: 483px;
    height: 120px;
}
span a{
    color: gray;
}
span i{
    margin: 5px 15px;
    font-size: 25px;
}