@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* --------------
Common Styles
--------------- */

body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 3em;
    font-weight: 700;
}

/*------------------
 Header & Navigation 
--------------------*/

header{
    background-color:#2D25A0;
    padding-top: 30px;
}
.navbar{ 
    display: flex;
    margin-left: 115px;
    margin-right: 125px;
    justify-content: space-between;
    align-items: center;
}
.navbar>ul>li{
    list-style: none;
    display: inline;
    margin-right: 45px;
}
.navbar>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

/*-------------
 Banner Section
 --------------*/
 
 .top-banner{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:#2D25A0;
    
}
.flexible{
    padding: 5% 7%;
}
#banner-title{
    color: white;
    font-size: 4em;
}
.button{
    color: white;
    font-size: 20px;
    background-color: #E02C6D;
    text-decoration: none;
    padding: 8px 20px;
}
.banner{
    width: 557px;
    height: 438px;
}
/* Players Section */

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin: 70px 180px 0px;
}
.player img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.player{
    padding: 15px 15px;
    background-color: white;
    filter:drop-shadow(0px 0px 2px gray)
}
h3{
    font-size: 1.7em;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Highlights */

.highlights{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 165px 180px 100px;
}
.highlights-details{
    padding-right:70px;
    margin-bottom: 50px;
}
.highlights img{
    width: 567px;
    height: 427px;
}

/* ----------
Footer 
-----------*/
footer{
    text-align: center;
    margin: 80px auto 40px;
}
footer img{
    width: 483px;
    height: 120px;
}
footer span a{
    color: gray;
}
footer span a i{
    margin: 5px 15px;
    font-size: 25px;
}